/* Simple opacity that overlaps new page instead of cross dissolving */
.ptah-enter-active,
.ptah-leave-active {
  transition: opacity 0.4s;
}
.ptah-enter {
  opacity: 0;
}

/* The leaving page gets position absolute so the two pages can cross dissolve */
.ptah-leave-active {
  position: absolute;
  width: 100%;
}
